<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
</head>
<body>
    <div class="container">
        <h1>States</h1>
        <ul>
            <!-- States and cities will be loaded here dynamically -->
        </ul>
    </div>
</body>
</html>
